<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nancy, Sass and Coffee</title>

    <!-- Note how the file is referenced as if it was a "real" css/js file -->
    <link href="/Styles/MainStyles.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/Main.js" type="text/javascript"></script>
</head>
<body>
    <div class="main">
        <h1>Nancy, Sass and Coffee</h1>
        <p><a href="/Styles/MainStyles.css">Sass Stylesheet</a></p>
        <p><a href="/Scripts/Main.js">Coffee Script Script</a></p>
        <p>View source will show referencing the css and js file, but the files on disk are actually .scss and .coffee respectively.</p>
    </div>
</body>
</html>
